<template>
  <div id="app" :class="[routeClass]">
    <h1>Varnish superloading!</h1>

    <md-layout md-gutter>
      <md-layout md-column md-flex="20">
        <requests></requests>
      </md-layout>
      <md-layout md-column md-flex="10">
        <filters></filters>
      </md-layout>
      <md-layout md-column md-flex="30">
        <sub-routines></sub-routines>
      </md-layout>
      <md-layout md-column md-flex="40">
        <routine-data></routine-data>
      </md-layout>
    </md-layout>

    <pacman></pacman>

  </div>
</template>

<script type="text/babel">
  import requests from './requests.vue';
  import filters from './filters.vue';
  import subRoutines from './subroutines.vue';
  import routineData from './routinedata.vue';
  import pacman from './pacman.vue';

  export default {
    name: 'app',
    store: [],
    data() {
      return {}
    },
    created() {
    },
    methods: {
    },
    events: {},
    computed: {
      /**
       * Get a class name based on the route path.
       *
       * @return {String}
       */
       routeClass() {
        return this.$route.path.split('/').filter(part => Boolean(part)).join('-')
      }
    },
    components: {
      requests,
      filters,
      subRoutines,
      routineData,
      pacman
    },
  };
</script>
