<template>

  <div>
    <md-layout md-row>

      <md-card>
        <md-card-header>
          <div class="md-title">Title goes here</div>
          <div class="md-subhead">Subtitle here</div>
        </md-card-header>

      </md-card>

    </md-layout>
  </div>

</template>

<script>

  export default {
    name: 'singleFilter',
    data () {
      return {};
    },

  };
</script>

