<template>
  <div class="filter-list">
    <md-layout md-row>
      <h3>Filters</h3>
    </md-layout>

    <single-filter v-for="item in items"></single-filter>
  </div>


</template>

<script>
  import singleFilter from './filter.vue'
  export default {
    name: 'filter',
    data () {
      return {
        items: []
      };
    },
    components: {
      singleFilter
    }
  };
</script>

