<template>

  <div class="pacman-loader">

    <div class="pacman-ghosts">

      <div class='pacman-ghost__clyde'>
        <div class='pacman-ghost--eye__left'>
          <div class='pacman-ghost--iris'></div>
        </div>
        <div class='pacman-ghost--eye__right'>
          <div class='pacman-ghost--iris'></div>
        </div>
        <div class='pacman-ghost--tail'>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>

      <div class='pacman-ghost__pinky'>
        <div class='pacman-ghost--eye__left'>
          <div class='pacman-ghost--iris'></div>
        </div>
        <div class='pacman-ghost--eye__right'>
          <div class='pacman-ghost--iris'></div>
        </div>
        <div class='pacman-ghost--tail'>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>

      <div class='pacman-ghost__inky'>
        <div class='pacman-ghost--eye__left'>
          <div class='pacman-ghost--iris'></div>
        </div>
        <div class='pacman-ghost--eye__right'>
          <div class='pacman-ghost--iris'></div>
        </div>
        <div class='pacman-ghost--tail'>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>

      <div class='pacman-ghost__blinky'>
        <div class='pacman-ghost--eye__left'>
          <div class='pacman-ghost--iris'></div>
        </div>
        <div class='pacman-ghost--eye__right'>
          <div class='pacman-ghost--iris'></div>
        </div>
        <div class='pacman-ghost--tail'>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>

    </div>

    <div class="pacman">
      <div class="pacman--inner">
        <div class="pacman__closed"></div>
      </div>
    </div>

  </div>

</template>

<script>
  export default {
    name: 'pacman'
  };
</script>

