<template>
  <div class="request-list">
    <md-layout md-row>
      <h3>Requests</h3>
    </md-layout>
    <request v-for="item in items" v-bind:request="item"></request>
  </div>


</template>

<script>
  import request from './request.vue';

  export default {
    name: 'requests',
    data () {
      return {
        items: demoData.requests
      };
    },
    components: {
      request
    },
  };
</script>

