<template>

  <div>
    <md-layout md-row>

      <md-card>
        <md-card-header>
          <div class="md-title">{{ request.url }}</div>
        </md-card-header>

        <md-card-expand v-if="request.header !== undefined">
          <md-card-actions>
            <md-button v-on:click="selectRequest(request)">Auswählen</md-button>
            <span style="flex: 1"></span>
            <md-button class="md-icon-button" md-expand-trigger>
              <md-icon>keyboard_arrow_down</md-icon>
            </md-button>
          </md-card-actions>

          <md-card-content>
            {{ request.header }}
          </md-card-content>
        </md-card-expand>
      </md-card>

    </md-layout>
  </div>

</template>

<script>
  import bus from '../services/eventBus.js'

  export default {
    name: 'request',
    data () {
      return {};
    },
    props: [
      'request',
    ],
    methods: {
      selectRequest: function (request) {
        // `this` inside methods point to the Vue instance
        bus.$emit("requestSelected", request);
      }
    }

  };
</script>

