<template>

  <div>
    <md-layout md-row>
      <h3>Routine Data</h3>
    </md-layout>
  </div>

</template>

<script>

  export default {
    name: 'routineData',
    data () {
      return {};
    },

  };
</script>
