<template>

  <div>
    <md-layout md-row>

      <md-card>
        <md-card-header>
          <div class="md-title">{{ subroutine.name }}</div>
        </md-card-header>

        <md-card-expand v-if="subroutine.request !== undefined">
          <md-card-actions>
            <span style="flex: 1"></span>
            <md-button class="md-icon-button" md-expand-trigger>
              <md-icon>keyboard_arrow_down</md-icon>
            </md-button>
          </md-card-actions>

          <md-card-content>
            {{ subroutine.request }}
          </md-card-content>
        </md-card-expand>
      </md-card>

    </md-layout>
  </div>

</template>

<script>

  export default {
    name: 'singleRoutine',
    data () {
      return {};
    },
    props: [
      'subroutine',
    ]
  };
</script>

