<template>
  <div>
    <md-layout md-row>
      <h3>Subroutines</h3>
    </md-layout>
    <single-routine v-for="item in items" v-bind:subroutine="item" v-bind:class="{ active: item.active }"></single-routine>
  </div>
</template>

<script>
  import singleRoutine from './subroutine.vue';
  import bus from '../services/eventBus.js'

  export default {
    name: 'subRoutines',
    data () {
      return {
        items: []
      };
    },
    components: {
      singleRoutine
    },
    methods: {
      getSortedItems(requestData){
        let sorted = [];
        let localData = JSON.parse(JSON.stringify(requestData));
        for(let i=0; i < localData["subroutine-sorting"].length; i++){
          for(let j=0; j<localData.subroutines.length; j++){
            if(localData.subroutines[j].active === undefined){
              localData.subroutines[j].active = false;
            }

            if(localData["subroutine-sorting"][i] === localData.subroutines[j].name){
              localData.subroutines[j].active = true;
              sorted.push(localData.subroutines[j]);
              localData.subroutines.splice(i,1);
            }
          }
        }
        let finished = sorted.concat(localData.subroutines);
        this.items = finished;
      }
    },
    created() {
      bus.$on('requestSelected', this.getSortedItems);
      this.getSortedItems(window.demoData.requests[0]);
    }
  };
</script>
