#app {
  .md-layout.md-column {
    border: 1px solid white;
    padding: .3em;
    min-height: 25em;
  }

  .md-card {
    width: 100%;
    .md-card-header {
      padding: .3em;
      .md-title {
        font-size: 1.2em;
      }
    }
    .md-card-expand {
      color: black;
    }
  }
}
