/*!
This CSS resource incorporates links to font software which is
the valuable copyrighted property of WebType LLC, The Font Bureau
and/or their suppliers. You may not
attempt to copy, install, redistribute, convert, modify or reverse
engineer this font software. Please contact WebType with any
questions: http://www.webtype.com
*/

@font-face {
  font-family: 'Interstate';
  src: url('#{$fonts-path}/interstate-bold/86bef0b5-fa75-4ca3-8394-cb7b5a474a45-2.eot');
  src: url('#{$fonts-path}/interstate-bold/86bef0b5-fa75-4ca3-8394-cb7b5a474a45-2.eot#iefix') format('embedded-opentype'),
  url('#{$fonts-path}/interstate-bold/86bef0b5-fa75-4ca3-8394-cb7b5a474a45-3.woff') format('woff'),
  url('#{$fonts-path}/interstate-bold/86bef0b5-fa75-4ca3-8394-cb7b5a474a45-1.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Interstate';
  src: url('#{$fonts-path}/interstate-light/ed91348a-d965-4bc4-a7bc-3d12ab0f9cfb-2.eot');
  src: url('#{$fonts-path}/interstate-light/ed91348a-d965-4bc4-a7bc-3d12ab0f9cfb-2.eot#iefix') format('embedded-opentype'),
  url('#{$fonts-path}/interstate-light/ed91348a-d965-4bc4-a7bc-3d12ab0f9cfb-3.woff') format('woff'),
  url('#{$fonts-path}/interstate-light/ed91348a-d965-4bc4-a7bc-3d12ab0f9cfb-1.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'congstar-icons';
  src: url('#{$fonts-path}/icon-font/icomoon.eot');
  src: url('#{$fonts-path}/icon-font/icomoon.eot#iefix') format('embedded-opentype'),
  url('#{$fonts-path}/icon-font/icomoon.woff') format('woff'),
  url('#{$fonts-path}/icon-font/icomoon.ttf') format('truetype'),
  url('#{$fonts-path}/icon-font/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'skizzed';
  src: url('#{$fonts-path}/skizzed/CongstarFont.eot');
  src: url('#{$fonts-path}/skizzed/CongstarFont.eot#iefix') format('embedded-opentype'),
  url('#{$fonts-path}/skizzed/CongstarFont.woff2') format('woff2'),
  url('#{$fonts-path}/skizzed/CongstarFont.woff') format('woff'),
  url('#{$fonts-path}/skizzed/CongstarFont.ttf') format('truetype'),
  url('#{$fonts-path}/skizzed/CongstarFont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

