$color-clyde: $color-red--dark;
$color-pinky: $color-mauve;
$color-inky: $color-blue;
$color-blinky: $color-orange;


$ghosts: (
  clyde: ($color-clyde, 0),
  pinky: ($color-pinky, 150),
  inky: ($color-inky, 300),
  blinky: ($color-blinky, 450)
);

.pacman-ghost {

  @each $ghost, $config in $ghosts {
    $color: nth($config, 1);
    $left-position: nth($config, 2);

    &__#{$ghost} {
      background: $color;
      width: 100px;
      height: 110px;
      border-radius: 50% 50% 0 0;
      animation: ghostmove 15s .05s infinite linear;
      position: absolute;
      top: 0;
      margin-left: #{$left-position}px;
    }

  }

  &--iris {
    width: 10px;
    height: 10px;
    background: black;
    position: absolute;
    top: 10px;
    animation: eyes 2.5s infinite linear;
    border-radius: 50%;
  }

  &--eye__left,
  &--eye__right {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30px;
    left: 15px;
    background: white;
    border-radius: 50%;
  }

  &--eye__right {
    left: 55px;
  }

  &--tail {
    div {
      position: absolute;
      bottom: -1px;
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 15px solid black;

      &:nth-child(1) {
        animation: black1 .3s infinite linear;
      }
      &:nth-child(2) {
        animation: black2 .3s infinite linear;
      }
      &:nth-child(3) {
        animation: black3 .3s infinite linear;
      }
      &:nth-child(4) {
        animation: black4 .3s infinite linear;
      }
      &:nth-child(5) {
        animation: black5 .3s infinite linear;
      }
    }
  }
}

@keyframes ghostmove {
  0% {
    left: -300%;
  }
  100% {
    left: 200%;
  }
}

@keyframes eyes {
  0% {
    left: 20px;
  }
}

@keyframes black1 {
  from {
    left: -30px;
  }
  to {
    left: 0;
  }
}

@keyframes black2 {
  from {
    left: 0;
  }
  to {
    left: 30px;
  }
}

@keyframes black3 {
  from {
    left: 30px;
  }
  to {
    left: 60px;
  }
}
@keyframes black4 {
  from {
    left: 60px;
  }
  to {
    left: 90px;
  }
}
@keyframes black5 {
  from {
    left: 90px;
  }
  to {
    left: 120px;
  }
}



