.pacman-loader {
  // display: none;
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 10000;
}

.pacman {
  width: 125px;
  height: 110px;
  background: url('../../images/congstar-logo.svg') 0 0 no-repeat;
  background-size: contain;
  animation: ghostmove 15s .05s infinite linear;
  position: absolute;
  top: 0;
  margin-left: 800px;
}

.pacman--inner {
  position: relative;
}

.pacman__closed {
  border-radius: 50%;
  width: 113px;
  height: 110px;
  background: white;
  animation: eat 0.4s 0.05s infinite alternate;
}

@keyframes eat {
  to {
    background: transparent;
  }
}




