<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Pretty Varnish</title>
    <link rel="icon" href="/images/vue.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="styles/vue-material.css">
    {{#if production}}
      <link rel="stylesheet" type="text/css" href="{{ assetPath "styles/styles.css" }}">
    {{else}}
      <link rel="stylesheet" type="text/css" href="styles/styles.css">
    {{/if}}
  </head>
  <body class="PageBody">
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
    <div id="app"></div>
    {{#if production}}
      <script src="{{ assetPath "scripts/app.js" }}"></script>
    {{else}}
      <script src="scripts/app.js"></script>
    {{/if}}
  </body>
</html>
